[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
flask-ckeditor = "*"
flask-wtf = "*"
flask-login = "*"
flask-gravatar = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
wtforms = "*"
sqlalchemy = "*"
flask-bootstrap = "*"
greenlet = "*"
python-dotenv = "*"
bleach = "*"

[dev-packages]

[requires]
python_version = "3.11"
